{# page des articles #}
{% extends 'base.html.twig' %}

{%  block body %}
<h1>{{  title }}</h1>

<div>
    {% for comment in comments %}
        <p>{{ comment }}</p>
    {% endfor %}
</div>

{% endblock %}